// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');

/*-- scss:defaults --*/
// Override theme settings (see ../template/settings.scss)
// Base settings for all themes that can optionally be
// overridden by the super-theme


// Background of the presentation
//$backgroundColor: #fcfbf9;

// Primary/body text
$mainFont: 'Jost', sans-serif;
$mainFontSize: 32px;//24px; 30px; 36px;; 
// Vertical spacing between blocks of text
$blockMargin: 20px;

// Main colors
$primary: #26AF64;
$secondary: #e98a15;
$tertiary: #2a76dd;
$quaternary: #ff170d;
$fifth-color: #f9c80e;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Abhaya Libre', Impact, sans-serif;
//$headingColor: #006791;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.00em;
$heading2Size: 2em; //2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

$codeFont: monospace;

$body-bg: #fefefe; // This is pure white
$presentation-heading-color: $primary;
// Chance stuff original 36px
$presentation-font-size-root: 32px; // Use 40px when width 1600 height 900

$link-color: $primary;

// Size for portrait images of collaborators (proof)
$portrait-width: 150px;
$portrait-height: 200px;

// Size for round images of collaborators (bruce mcmanus biobank)
$round-height: 126px;

/*-- scss:rules --*/

.primary {color: $primary;}
.secondary {color: $secondary;}
.tertiary {color: $tertiary;}
.quaternary {color: $quaternary;}
.fifth-color {color: $fifth-color;}

.thanks {
  font-size: 1.5em;
  text-align: center !important; /* Center text horizontally */
  display: flex !important; /* Enable flexbox layout */
  justify-content: center !important; /* Center horizontally within its parent */
  align-items: center !important; /* Center vertically within its parent */
  height: 100vh !important;
}

.smaller {
  font-size: 0.5em;
}

.reveal {
  .slides {
    .slide {
      figure {
        figcaption {
          font-size: 0.5em;
        }
      }
    }
  }
}

.reveal .slide aside .aside-footnotes {
  font-size: 14px;
}

// Portrait image of headers/collaborators
.people-row {
  display: flex;
  justify-content: center;   // center the whole row on the slide
  align-items: center;       // vertically align if heights differ
  gap: 2rem;                 // spacing between photos
}

.people-row img.logo {
  height: $portrait-height;             // match portrait height
  width: auto;               // scale proportionally
  object-fit: contain;       // no cropping for logos
}

.people-row img.round-logo {
  height: $round-height;
  width: auto;
  object-fit: contain;
  transform: scale(2.2);   // increase size 10% visually
  
}

.logo-container {
  height: $round-height;
  width: $round-height;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4.2rem; // Uggly fix, this needs to change if transofrm scale changes
}

.logo-container img.round-logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}


// circular variant
.people-row img.round {
  width: $round-height;      // make width = height
  height: $round-height;
  object-fit: cover;
  border-radius: 50%;           // makes it a circle
  border: 2px solid #fff;       // optional: white border
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); // optional subtle shadow
}


.people-row img.portrait {
  width: $portrait-width;
  height: $portrait-height;
  object-fit: cover;   // crops extra but keeps faces natural
  border-radius: 12px; // optional style
}


// start using css here
//#title-slide > h1 {
//  color:  var($headingColor);
//}

//#title-slide .author {
//  color: black;
//}

//#title-slide .institute {
//  font-size: 1.5em;
//}


//#title-slide > .author:first-of-type {
//  margin-top: 320px;
//}

// #title-slide {
//   top: 0 !important;
// }
